@import url("styles.css");
.banner_home{
    position: absolute;
    top: 40%;
    width: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}
.simple_nav a{
    text-decoration: none;
    color: var(--black);
    background: linear-gradient(60deg, transparent,var(--blue)) !important;
    padding: 15px;
    transition: .3s ease-in-out;
    border-radius: 10px;
    background-color: var(--green) !important;
    margin: 10px;
}
.simple_nav a:hover{
    text-decoration: none;
    color: var(--black);
    background: linear-gradient(60deg, transparent,var(--blue)) !important;
    padding: 15px;
    background-color: var(--milk) !important;
    border-radius: 10px;
    margin: 10px;
}
.simple_nav .container{
    text-align: end;
}
.bubble{
    position: fixed;
    width: var(--width);
    height: var(--height);
    border-radius: 50%;
    top: var(--top);
    left: var(--left);
    background: linear-gradient(60deg, var(--green),var(--blue));
}
.registration_box{
    position: fixed;
    top: 50%;
    left: 50%;
    border-bottom: 5px solid var(--green-slim);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.267);

    transform: translate(-50%,-50%);
    z-index: 4;
    padding: 10px;
    background-color: var(--black);
    width: 500px;
    border-radius: 10px;
    text-align: center;
}
.grid_items select{
    color: var(--milk);
}
.inputs_grid{
    display: flex;
    width: 100%;
    position: relative;
}
.grid_items{
    margin: 5px;
    position: relative;
    width: var(--width);

}
.dialog{
    font-size: 12px;
}
.reg_items{
    background-color: var(--black);
    position: absolute;
    top: -20px;
    left: 50%;
    /* padding: 15px; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    display: flex;
    border-radius: 50px;
    transform: translateX(-50%);
}
.reg_items div{
    text-decoration: none;
    padding: 20px;
    position: relative;
    cursor: pointer;
    width: 100%;

    border-radius: 50px;
    background-color: var(--black);
}
.reg_items .active{
    text-decoration: none;
    padding: 20px;
    position: relative;
    width: 100%;
    color: black;
    border-radius: 50px;
    background-color: var(--green-slim);
}